.i {
    color: #757575;
}

.l
{
    color: #212121;
}
.border
{
    border: 
    #FFFFFF;
    padding: 15px;
    margin: 20px
    #EEEEEE;
}

.g3
{
    background-color: #2F303A;
    color: aliceblue;
}

